body{
    
    background-image:url("Flowers.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

textarea{
    background-color: rgba(256,256,256,0.8);
    resize: none;
    font-family: Calibri;
    text-align: center;
    font-size: 20px;
}

main {
    /* ... */
    margin-bottom: 10px;
    /* ... */
}
